<h2>Ссылки</h2>
<p><a href="/example/last_tem_games">Последние 10 игр</a></p>
<p><a href="/example/complete_indicator">Узнать, выполнил ли игрок, за последние 10 игр один из показателей</a></p>

<p>===============================================================</p>
<h3>Данные</h3>
<h4>Игрок</h4>
<p><a href="<%= player_index_path %>">Список игроков</a></p>
<p><a href="<%= new_player_path %>">Создать игрока</a></p>

<h4>Команда</h4>
<p><a href="<%= team_index_path %>">Список команд</a></p>
<p><a href="<%= new_team_path %>">Создать команду</a></p>

<h4>Игра</h4>
<p><a href="<%= game_index_path %>">Список игр</a></p>
<p><a href="<%= new_game_path %>">Создать игру</a></p>

<h4>Показатели</h4>
<p><a href="<%= new_journal_player_path %>">Добавить информацию</a></p>

<p>==================================================================</p>

<h2>доп данные</h2>

<h4>Позиции</h4>
<p><a href="<%= position_index_path %>">Список позиций</a></p>
<p><a href="<%= new_position_path %>">Создать позицию</a></p>

<h4>Показатель</h4>
<p><a href="<%= type_action_index_path %>">Список показателей</a></p>
<p><a href="<%= new_type_action_path %>">Создать показатель</a></p>

<h4>Страна</h4>
<p><a href="<%= country_index_path %>">Список стран</a></p>
<p><a href="<%= new_country_path %>">Создать страну</a></p>

<h4>Регион</h4>
<p><a href="<%= region_index_path %>">Список регионов</a></p>
<p><a href="<%= new_region_path %>">Создать создать регион</a></p>